.results {
  padding: 50px 0;

  @include desktop {
    padding: 80px 0;
  }

  & .container {
    position: relative;
  }
}

.results__title {
}


.results .results__title-wrap {
  margin-bottom: 30px;

  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
  }

  .gallery-slider-buttons {
    display: none;

    @include desktop {
      display: flex;
    }
  }
}

.results {
  .gallery-slider-buttons {
    @include desktop {
      display: none;
    }
  }
}

.results__slider-wrap {
}
