@font-face {
	font-family: 'PPRightGrotesk';
	font-display: swap;
	src: url("../fonts/PPRightGrotesk-Medium.woff2") format("woff2"), url("../fonts/PPRightGrotesk-Medium.woff")
	format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'SuisseIntl';
	font-display: swap;
	src: url("../fonts/SuisseIntl-Book.woff2") format("woff2"), url("../fonts/SuisseIntl-Book.woff")
	format("woff");
	font-weight: 450;
	font-style: normal;
}
@font-face {
	font-family: 'SuisseIntl';
	font-display: swap;
	src: url("../fonts/SuisseIntl-Regular.woff2") format("woff2"), url("../fonts/SuisseIntl-Regular.woff")
	format("woff");
	font-weight: 400;
	font-style: normal;
}
