@mixin rightGrotesk($style: bold) {
  font-family: 'RightGrotesk', sans-serif;

  @if $style == bold {
    font-weight: 700;
  }
}

@mixin suisseIntl($style: regular) {
  font-family: 'SuisseIntl', sans-serif;

  @if $style == regular {
    font-weight: 400;
  }

  @if $style == book {
    font-weight: 450;
  }
}

@mixin pseudo() {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin tablets {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
