@mixin rightGrotesk($style: medium) {
  font-family: 'PPRightGrotesk', sans-serif;

  @if $style == medium {
    font-weight: 500;
  }
}

@mixin suisseIntl($style: regular) {
  font-family: 'SuisseIntl', sans-serif;

  @if $style == regular {
    font-weight: 400;
  }

  @if $style == book {
    font-weight: 450;
  }
}

@mixin pseudo() {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin tablets {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin TextM {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
}

@mixin Text16 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
}
