.audience {
  padding: 50px 0;
  font-size: 14px;

  @include desktop {
    padding: 80px 0;
    font-size: 16px;
  }
}

.container {
}

.audience__title {
  margin-bottom: 50px;

}

.audience__list {
  margin-top: -20px;

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -20px;
  }
}

.audience__item {
  background-color: var(--clr-gray);
  border-radius: 12px;
  margin-top: 20px;
  padding: 30px;

  @include desktop {
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
    padding: 40px;
  }
}

.audience__number {
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  background-color: var(--clr-white);
  border-radius: 50%;

  @include desktop {
    margin-bottom: 40px;
  }
}

.audience__subtitle {
  margin-bottom: 20px;

  @include desktop {
    margin-bottom: 30px;
  }
}
.audience__desc {
}
