.reviews {
  padding: 50px 0;

  @include desktop {
    padding: 80px 0;
  }

  & .container {
    position: relative;
  }
}

.reviews__title {
  margin-bottom: 30px;

  @include desktop {
    max-width: 795px;
    margin-bottom: 50px;
  }
}

.reviews .reviews__desc-wrap {

  margin-bottom: 30px;

  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
  }

  .gallery-slider-buttons {
    display: none;

    @include desktop {
      display: flex;
    }
  }
}

.reviews__desc {
   @include desktop {
    max-width: 795px;
  }
}

.reviews__slider-wrap {
}


.reviews {
  .gallery-slider-buttons {
    @include desktop {
      display: none;
    }
  }
}

.reviews .video {
  border-radius: initial;
}

.reviews .video__btn {
  border: none;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);

  @include desktop {
    width: 80px;
    height: 80px;
  }
}
