.accordion {
  background: var(--clr-gray);
  padding: 20px;
  border-radius: 12px;

  @include desktop {
    padding: 25px;
  }
}
.accordion__item {
  background-color: var(--clr-white);
  padding: 20px;
  border-radius: 12px;

  @include desktop {
    padding: 25px;
  }

  & + .accordion__item {
    margin-top: 20px;
  }
}
.accordion__control {
  display: flex;
  justify-content: space-between;
    align-items: center;
  width: 100%;

}
.accordion__title {
  @include suisseIntl(book);
  color: #0A0A0A;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.05em;
  text-align: left;
  max-width: 90%;

  @include desktop {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.03em;
    max-width: 95%;
  }

}

.accordion__icon-wrap {
  width: 24px;
  height: 24px;
}

.accordion__icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-out;
}

.open .accordion__icon {
  transform: rotate(180deg);
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  padding: 0;
  will-change: max-height;
  transition: all 0.3s ease-out;
  box-sizing: content-box;

  @include desktop {
    max-width: 900px;
  }
}

.open .accordion__content {
  opacity: 1;
  padding-top: 20px;


  @include desktop {
    padding-top: 25px;
  }

}

.accordion__content > p + p {
  margin-top: 20px;

  @include desktop {
    margin-top: 25px;
  }
}
