.btn {
  display: block;
  text-align: center;
  font-size: 14px;
  color: var(--clr-white);
  padding: 14px;
  background-color: var(--clr-orange);
  border: 1px solid transparent;
  border-radius: 12px;
  transition: all .5s;
  width: 100%;




  @include desktop() {
    font-size: 16px;
    padding: 23px;
  }

  &:hover {
    color: var(--clr-white);
  }

  &:disabled {
    opacity: 0.5;
  }

}

.btn--outline {
  padding: 14px;
  color: var(--clr-black);
  background-color: transparent;
  border: 1px solid var(--clr-black);

  @include desktop() {
    padding: 12px;
  }
}

.btn--social {
  padding: 14px;

  @include desktop {
    font-size: 14px;
  }

  &:hover {
    color: var(--clr-black);
  }

  span {
    display: inline-block;
    position: relative;
    margin-left: 28px;


    &::before {
        content: "";
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%;
        transform: translateY(-50%);
        left: -28px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }


  }


      &-whatsapp {
        span {
        &::before {
          background-image: url('../img/whatsapp.svg');
        }
      }
      }

      &-telegram {
        span {
        &::before {
          background-image: url('../img/telegram.svg');
        }
      }
      }



}
