.record {
    background-color: var(--clr-white);
    padding: 50px 0;


  @include desktop() {
    padding: 80px 0 60px;
  }
}
.record__wrap {
  display: flex;
  flex-direction: column-reverse;
  padding: 30px 0;

  @include desktop() {
    flex-direction: row;
    column-gap: 40px;
    background-color: #FAFAFA;
    border-radius: 12px;
    padding: 60px;
  }
}
.record__elem {
  @include desktop(){
    flex: 1 1 50%;
  }

  & + .record__elem {
    @include desktop() {
    }
  }
}
.record__title {
  display: none;

  @include desktop() {
    display: block;
    margin-bottom: 30px;
  }
}
.record__desc {
  margin-bottom: 30px;


}

.record__form {

}

.record__title-mobile {
  margin-bottom: 30px;

  @include desktop() {
    display: none;
  }
}

.record__img {
  margin-bottom: 30px;

  @include desktop() {
    margin-bottom: initial;
  }
}

.record__img-elem {

}
