.links {

}

.links__item {
  @include tablets {
    &:first-child {
    display: flex;
      &::after {
        content: '|';
        padding: 0 10px;
      }
    }
  }
}

.links__record {

}

.links__phone {
  @media screen and (min-width: 300px) {
    font-size: 14px;
  }

  @media screen and (min-width: 344px) {
    font-size: 16px;
  }

  @include Text16();

}
