.links {

}

.links__item {
  @include tablets {
    &:first-child {
    display: flex;
      &::after {
        content: '|';
        padding: 0 10px;
      }
    }
  }
}

.links__record {

}

.links__phone {

}
