.video {
  position: relative;
  height: 225px;
  border-radius: 12px;
  overflow: hidden;

  @include desktop {
    height: 460px;
  }
}

.video.pause {
  .video__preview {
    display: block;
  }

  .video__btn {
    display: block;
  }
}

.video__preview {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  display: none;
}
.video__preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  border: 1px solid var(--clr-white);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  @include desktop {
    width: 100px;
    height: 100px;
  }

  & > svg {
    margin-left: 7px;
    width: 24px;
    height: 24px;
  }
}

.video__elem {
  // position: absolute;
  width: 100%;
  height: 100%;
  // top: 0;
  // left: 0;
  background-color: red;

  &-inner {
    width: 100%;
    height: 100%;
  }
}
