.opinion {
  padding: 50px 0;

  @include desktop {
    padding: 80px 0;
  }

  & .container {
    position: relative;
  }
}

.opinion__title {

}

.opinion__slider-wrap {
}

.opinion .opinion-slider-buttons {
  @include desktop {
    display: none;
  }
}

.opinion__title-wrap {
  margin-bottom: 30px;

  @include desktop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }


  .opinion-slider-buttons {
    display: none;

    @include desktop {
      display: flex;
    }
  }
}
